.school_profile{
    height: fit-content;
    background: #fefcfb;
    width: 85%;
    margin: 30px auto;
}

/* Responsiveness starts here */
@media (max-width: 1024px) {
    .school_profile {
      width: 90%;
    }
  }
  
  /* Small Screens */
  @media screen and (max-width: 640px) {
    .school_profile {
      width: 95%;
    }
  }